@import 'tailwindcss';

@theme {
  --font-inter: var(--font-inter);

  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-success-light: var(--success-light);
  --color-danger-light: var(--danger-light);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: oklch(87.94% 0.1493 89.61);
  --primary: oklch(61.71% 0.0801 227.44);
  --success: oklch(62.87% 0.139 156.58);
  --danger: oklch(58.23% 0.1779 349.77);
  --success-light: oklch(84.07% 0.0419 150.73);
  --danger-light: oklch(83.63% 0.0606 346.94);
}
